@charset "utf-8";
/* CSS Document */

/* ====================== Variables ====================== */

// Theme Colors
$color-1: #E77D00;
$color-2: #0275d8;
$color-3: #0275d8;
$color-4: #01447e;
$color-5: #E77D00;

// Plain colors
$color-p-01: #fdfdfd;
$color-p-02: #f3f3f3;
$color-p-03: #eee;
$color-p-04: #d9d9d9;
$color-p-05: #ddd;
$color-p-06: #ccc;
$color-p-07: #aaa;
$color-p-08: #666;
$color-p-09: #444;
$color-p-10: #333;
$color-p-11: #252831;

/*Unused*/
$color-10: #F1C221;
$color-20: #ba014e;
// $color-1: #f18200;
// $color-2: #3397db;
// $color-5: #f58500;

// Fonts
$main-font: Arial, Helvetica, sans-serif;

/* ====================== General ====================== */


html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $color-p-01;
	color: $color-p-10;
	font-family: $main-font;
	font-size: 1.2rem;
	line-height: 2.5;
	margin: 0;
	position: relative;
}

a {
	color: $color-1;
	text-decoration: none;

	&:hover, &:focus {
		color: $color-3;
		text-decoration: none;
	}

	img{
		border: none 0 #fff;
	}
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
}

article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.main__container {
  background-color: $color-p-02;
  min-height: 100%;
}

.footer {
  background-color: $color-p-09;
  color: $color-p-07;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
$nav-height: 8rem;

.header__container {
	height: $nav-height;
}
.header__nav {
	background-color: $color-p-11;
	text-align: center;
  width: 100%;
  height: $nav-height;
}
.header__main-header {
  margin: auto;
}
.header__link {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}

.menu-breadcrumb {
    padding: 1rem 4rem 1.6rem;
    list-style: none;
    background-color: $color-p-04;
    font-size: 1.6rem;
    margin: 0;
		width: 50%;
    // width: calc(50% - 8rem);
}

/* Display list items side by side */
.menu-breadcrumb__li {
    display: inline;

		/* Add a color to all links inside the list */
		a {
		    color: $color-3;
		    text-decoration: none;

				/* Add a color on mouse-over */
				&:hover {
						color: $color-1;
						text-decoration: none;
				}
		}
}

/* Add a slash symbol (/) before/behind each list item */
.menu-breadcrumb__li+li:before {
    padding: .8rem;
    color: #000;
    content: "/\00a0";
}

/* ====================== Map ====================== */

.map-global {
  height: 40rem;
  width: 100%;
  background-color: $color-p-06;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 8rem;
  background-color: $color-2;
  align-items: center;

	h2 {
	  color: #fff;
	  font-size: 1.6rem;
	  font-weight: 400;
	  line-height: 1;
	  margin: 0 2rem;
		padding: 0.6rem;
		text-transform: uppercase;
		text-align: center;
	}

	select {
	  background-color: #fff;
	  border: 1px solid #fff;
	  font-size: 1.4rem;
	  height: 3.5rem;
	  letter-spacing: 0;
	  margin-left: 3rem;
	  padding: 0 1rem;
	  width: 20rem;
	}
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: $color-p-02;
  list-style: outside none none;
  margin: 0;
  padding: 3rem 1.5rem 6rem;
  text-align: center;
}
#restaurants-list .restaurant-box {
  background-color: #fff;
	border: 2px solid $color-p-06;
	border-radius: 10px;
	display: inline-block;
  margin: 1.2rem;
  min-height: 38rem;
  padding: 0 3rem 2.5rem;
  text-align: left;
  max-width: 30rem;
}
#restaurants-list .restaurant-img {
  background-color: $color-p-06;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 25rem;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: $color-1;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.4rem;
}
#restaurants-list li a {
  background-color: $color-1;
  border-bottom: 3px solid $color-p-03;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 15px 0 0;
  padding: .8rem 3rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.map-restaurant__container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: $nav-height;
  width: 50%;
}
.map-restaurant {
  background-color: $color-p-06;
  height: 100%;
  width: 100%;
}
.footer--secondary {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: $color-1;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.5rem 0 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 1rem 0;
}
#restaurant-cuisine {
  background-color: $color-p-10;
  color: $color-p-05;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1rem;
  margin: 0 0 2rem;
  padding: .2rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid $color-p-04;
  border-top: 1px solid #fff;
  padding: 15rem 4rem 3rem;
  width: 50%;
}
#reviews-container {
  padding: 3rem 4rem 8rem;
}
#reviews-container h2 {
  color: $color-5;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid $color-p-02;
  display: block;
  list-style-type: none;
  margin: 0 0 3rem;
  overflow: hidden;
  padding: 0 2rem 2rem;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 1rem;
}
#restaurant-hours td {
  color: $color-p-08;
}
