/* CSS Document */
/* ====================== Variables ====================== */
/* ====================== Mixins ====================== */
/* ====================== General ====================== */
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #a2b1b2;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2.5;
  margin: 0;
  position: relative; }

/* ====================== Navigation ====================== */
.header {
  height: 8rem; }
  .header__nav {
    background-color: #252831;
    height: 8rem;
    text-align: center;
    width: 100%; }
  .header__link {
    font-size: 3.2rem;
    font-weight: 200;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; }
    .header__link:hover, .header__link:focus {
      color: #9CDCED; }

.header-secondary {
  width: 100%; }

.breadcrumb {
  background-color: rgba(204, 204, 204, 0.95);
  height: 6rem;
  font-size: 1.6rem;
  list-style: none;
  margin: 0;
  opacity: 0.98;
  padding: 1rem 4rem 1rem;
  width: 100%;
  z-index: 100000;
  /* Add a slash symbol (/) before/behind each list item */ }
  .breadcrumb__li {
    display: inline-block; }
    .breadcrumb__li a {
      margin-left: 1rem;
      color: #3390D6;
      text-decoration: none; }
      .breadcrumb__li a:hover, .breadcrumb__li a:focus {
        color: #ff6100; }
  .breadcrumb__li + li:before {
    color: #000;
    content: "/\00a0";
    padding: .8rem; }

/* ====================== Map ====================== */
.map-global {
  background-color: #ccc;
  height: 40rem;
  width: 100%; }

.map-restaurant {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  position: static; }

/* ====================== Restaurant Filtering ====================== */
.filters {
  align-items: center;
  background: linear-gradient(to right, #3390D6, #0275d8, #3390D6);
  height: 9rem;
  width: 100%;
  border: 1px solid #aaa; }
  .filters__heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 2rem;
    padding-top: 1.2rem;
    text-align: center;
    text-transform: uppercase; }
  .filters__select {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    font-size: 1.4rem;
    height: 3.5rem;
    letter-spacing: 0;
    margin: .8rem 4rem 2rem;
    padding: 0 1rem;
    width: calc((100% - 18rem)/2); }
    .filters__select:focus {
      border: 1px solid #ff6100;
      box-shadow: 1px 0 10px #ff6100, -1px 0 10px #ff6100;
      outline: none; }

/* ====================== Main-body ====================== */
.main__container {
  background-color: #f3f3f3;
  margin: 0 auto;
  max-width: 114rem;
  min-height: 100%;
  border: 1px solid #aaa; }

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  background-color: #eee;
  list-style: outside none none;
  margin: 0;
  padding: 3rem .1rem 3rem;
  text-align: center; }

.restaurant-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .8rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 1.2rem;
  max-width: 26rem;
  min-height: 38rem;
  padding: 0 0 2.5rem;
  text-align: center;
  transition: all .2s; }
  .restaurant-box:hover {
    transform: scale(1.05); }
  .restaurant-box__img {
    background-color: #ccc;
    border-radius: 1rem;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
    display: block;
    height: auto;
    margin: 1rem auto 0;
    width: 90%; }
  .restaurant-box__name {
    background: linear-gradient(to left, #ff6100, #db0045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 520;
    height: 4.6rem;
    letter-spacing: .8px;
    line-height: 1.3;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
    width: 90%; }
  .restaurant-box__neighborhood {
    color: #0275d8;
    font-weight: 600; }
  .restaurant-box__neighborhood, .restaurant-box__address {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 0; }
  .restaurant-box__more-btn, .restaurant-box__more-btn:focus {
    background-color: #ff8133;
    border: 1px solid #ddd;
    border-radius: .5rem;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    margin: 1.5rem 0 0;
    padding: .5rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .1s;
    color: #fff;
    text-decoration: none; }
    .restaurant-box__more-btn:hover, .restaurant-box__more-btn:focus, .restaurant-box__more-btn:focus:hover, .restaurant-box__more-btn:focus:focus {
      color: #fff; }
    .restaurant-box__more-btn:hover, .restaurant-box__more-btn:focus:hover {
      background-color: #b34400; }
    .restaurant-box__more-btn:active, .restaurant-box__more-btn:focus:active {
      background-color: #ff904d;
      transform: translateY(0.1rem); }

/* ====================== 2nd page - Restaurant Details ====================== */
.restaurant__heading {
  color: #ff6100;
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 1.1;
  margin: 8rem 0 3rem;
  text-align: center;
  text-transform: uppercase; }

.restaurant {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .restaurant__cover {
    width: 50%;
    margin: 2rem auto;
    order: 1; }
    .restaurant__cover__img {
      border-radius: 5px;
      box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
      max-height: 36rem;
      margin: 0 auto;
      max-width: 80%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .restaurant__cover__cuisine {
      background-color: #333;
      color: #ccc;
      font-size: 1.8rem;
      font-weight: 300;
      letter-spacing: 1rem;
      margin: 0 auto;
      padding: .2rem 0;
      text-align: center;
      text-transform: uppercase;
      width: 80%; }

.restaurant, .reviews {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

.restaurant-overview {
  order: 2;
  display: block;
  font-size: 1.6rem;
  padding: 2rem 4rem 3rem;
  margin: 0;
  text-align: center;
  width: 50%; }
  .restaurant-overview__strong-text {
    color: #0275d8;
    font-weight: bold;
    text-transform: uppercase; }
  .restaurant-overview__average-rating {
    display: inline-block;
    padding: 0 2rem; }
  .restaurant-overview__hours {
    background-color: #ddd;
    color: #444;
    width: 100%; }
    .restaurant-overview__hours td {
      border-bottom: 1px solid #aaa;
      font-size: 1.4rem; }
    .restaurant-overview__hours--day {
      background-color: #f3f3f3;
      color: #0275d8;
      font-weight: bold; }
  .restaurant-overview__heading {
    color: #ff6100;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: -1px;
    padding-top: 1rem; }

.map-restaurant__container {
  border-top: 4rem;
  order: 3;
  height: 40rem;
  width: 100%;
  border: 1px solid #aaa; }

/* ====================== Reviews section ====================== */
.reviews {
  padding: 3rem 4rem 3rem; }
  .reviews__heading {
    color: #ff6100;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: .5rem;
    text-align: center; }
  .reviews__list {
    margin: 0;
    padding: 0; }
    .reviews__list__item {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
      display: block;
      list-style-type: none;
      margin: 0 0 3rem;
      overflow: hidden;
      position: relative;
      width: 100%; }
      .reviews__list__item:last-of-type {
        margin-bottom: 10rem; }
      .reviews__list__item-upperBar {
        height: 4.5rem;
        width: 100%;
        background-color: #444; }
      .reviews__list__item-user, .reviews__list__item-date {
        display: inline-block;
        padding-right: 4rem;
        color: white; }
      .reviews__list__item-user {
        font-size: 1.8rem;
        color: #9CDCED;
        font-weight: bold;
        padding-left: 2rem; }
      .reviews__list__item-rating {
        background: linear-gradient(to bottom left, #ff6100, #db0045);
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
        float: right;
        height: 100%;
        padding: 0 2rem;
        text-transform: uppercase; }
      .reviews__list__item-date {
        font-style: italic; }
      .reviews__list__item-comments {
        font-size: 1.4rem;
        margin: 2.8rem;
        text-align: justify; }

/* ====================== Footer ====================== */
.footer {
  background-color: #444;
  color: #aaa;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .footer a {
    color: #ff6100;
    text-decoration: none; }
    .footer a:hover, .footer a:focus {
      color: #3390D6; }

.footer--secondary {
  bottom: 0;
  position: absolute; }
